{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 160,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/globals.css",
  "tailwindFunctions": ["cn", "cva"]
}
